<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectrum</title>
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

</head>

<body>
    <div id="app">
        <header class="header">
            <div class="header__logo">
                <a href="#" class="header__title"><img src="/icon/logo2.png" class="header__logo_img">Spectrum</a>
            </div>

            <div class="header__wrapper_menu">
                <p class="header__menu_item">
                    Главная
                </p>
                <p class="header__menu_item header__menu_item_two">
                    Смартфоны
                </p>
                <p class="header__menu_item header__menu_item_three">
                    Ноутбуки
                </p>
                <p class="header__menu_item">
                    Телевизоры
                </p>
            </div>

            <div class="header__search">
                <input type="text" placeholder="Поиск">
                <div class="header__button">
                    <button class="header__button_search">Найти</button>
                </div>
                <button class="header__button_basked"></button>
            </div>

        </header>

        <section class="promo">
            <div class="promo__title">
                Смартфоны, ТВ и электроника
            </div>
            <div class="promo__topbar_filter">
                <select v-model="model">
                    <option value="">Все</option>
                    <option value="Xiaomi">Xiaomi</option>
                    <option value="Samsung">Samsung</option>
                    <option value="iPhone">iPhone</option>
                    <option value="Huawei">Huawei</option>
                </select>
            </div>
            <div class="promo__wrapper">
                <div class="promo__directory">
                    <div v-for="phone in api" class="promo__directory_item">
                        <div class="promo__directory_item_title">
                            {{ phone.model }} {{ phone.name }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>

        let app = new Vue({
            el: '#app',
            data: {
                api: [],
                model: "",
            },
            methods: {
                postPhone() {
                    let fd = new FormData
                    /* console.log(this.model) */
                    fd.append('model', this.model)
                    let xhr = new XMLHttpRequest()
                    xhr.open("POST", 'api/index.php')
                    xhr.send(fd)
                    xhr.onload = () => {
                        /* console.log(xhr.response) */
                        this.api = JSON.parse(xhr.response)
                        /* console.log(this.api) */
                    }
                }
            },
            created() {
                this.postPhone()
            },
            watch: {
                model() {
                    this.postPhone()
                }
            }
        })

    </script>
</body>

</html>